/CeleryMisfortune/bin
/CeleryMisfortune/obj
/CeleryMisfortune/wwwroot/fore-end/dist
/CeleryMisfortune/wwwroot/fore-end/node_modules
/CeleryMisfortune.DataAccess/bin
/CeleryMisfortune.DataAccess/obj
/CeleryMisfortune.Model/bin
/CeleryMisfortune.Model/obj
/CeleryMisfortune.Test/bin
/CeleryMisfortune.ViewModel/bin
/CeleryMisfortune.Test/obj
/CeleryMisfortune.ViewModel/obj
/KnifeZ.SignalRKit/bin
/KnifeZ.SignalRKit/obj
.vs